/* 共用CSS */
.area-space{
    margin: 20px 0;
}


ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.title{
    text-align: center;
}

.title h2{
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(to left, #ED83A2, #F7CBC9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.text h4{
    font-size: 1.2rem;
    color: #92A8D1;
    margin-bottom: 1.3rem;
}

.text p{
    font-weight: 300;
    line-height: 2;
}

.highlight{
    background: linear-gradient(#fff 70%, #FFCBE3 0%);
}

.badge{
    background-color: #92A8D1;
    padding: .6em 1em;
}

/* 選單 */
.banner{
    position: relative;
    width: 100%;
    height: 546px;
    background: linear-gradient(-50deg, #ED83A2, #73C0F4);
}

.menubar{
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    background: #fff;
    z-index: 2;
}

.menubarBtn{
    text-decoration: none;
    text-align: right;
}

.menubarBtn i{
    display: block;
    font-size: 2rem;
    color: #92A8D1;
    padding: 1rem;
}

.navBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 60px;
}

.navBar li{
    width: 100%;
    height: 55px;
    padding: 3px 0;
    text-align: center;
    overflow: hidden;
    transition: .5s ease;
}

.navLink{
    display: block;
    cursor: pointer;
    color: #92A8D1;
    padding: .5rem 1rem;
    text-decoration: none;
}

.navLink:hover {
    color: #ED83A2;
}

/* 圖片區塊 */
.banner-text {
    height: 250px;
    position: absolute;
    top: 46px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner-text .upper p{
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.banner-text .upper p::after {
    content: "";
    position: absolute;
    width: 90%;
    border-bottom: 5px double #fff;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.banner-text .down{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding: 0 5%;
}

.rolldownbtn{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 40px auto;
}

.rolldownbtn i{
    font-size: 30px;
    color: #fff;
    animation: pulse 2s infinite;
}

/* 關於我 */
.about .avatar{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .avatar img{
    width: 100%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.about .text{
    flex: 2;
    margin-top: 20px;
}

.tag{
    text-align: center;
}

.tag .badge{
    font-size: 1rem;
    font-weight: 400;
    transition: .5s;
}

.tag .badge:hover{
    border: 1px solid#92A8D1;
    background-color: #fff;
    color: #92A8D1;
    transition: .5s;
}

/* 技能 */
.skills{
    background: linear-gradient(to right bottom, rgba(146, 168, 209, .8), rgba(170, 195, 210, .8)),url("../pic/skillbg.jpg") no-repeat center/ cover;

}
.skills .card{
    background-color: rgb(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    box-shadow: 0 .2rem 1rem #92A8D1;
    text-align: center;
    margin: 10px 0;
    border: none;
}

.skills .skill-list{
    width: 50%;
    padding: 5px 0;
}

/* 工作經歷 */
.experience .badge{
    font-size: .5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.experience .badge i{
    padding-right: 5px;
}

/* 作品集 */
.portfolio img{
    width: 100%;
    vertical-align: bottom;
    border-radius: 5px;
    margin-bottom: 30px;
}

.portfolio h4{
    text-align: center;
}

.portfolio-item{
    position: relative;
}

.portfolio-item .text{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 12px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    background: linear-gradient(-50deg, rgba(170, 195, 210, 0.9), rgba(80, 100, 130, 0.9));
    color: #fff;
    box-shadow: 0 .2rem 1rem #92A8D1;
    transition: .3s;
}

.portfolio-item .text:hover{
    opacity: 1;
}

/* 作品集連結 */
.portfolioLink {
    padding: 10px 0;
}

.portfolioLink a {
    font-size: 30px;
    text-decoration: none;
    color: #92A8D1;
}

.portfolioLink a:hover {
    color: #F7CBC9;
    transition: .2s
}

.portfolioLink a+a {
    margin-left: 48px;
}

/* 頁尾區塊 */
.footer {
    background-color: #fff;
    color: #92A8D1;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #92A8D1;
}

@keyframes pulse {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 992px) {  
    /* 共用CSS */
    .area-space{
        margin: 50px;
    }

    .title h2{
        margin-bottom: 50px;
    }
  
    /* 圖片區塊 */
    .banner{
        height: 100vh;
    }
    
    /* 選單 */  
    .menubar{
        position: absolute;
        margin: auto;
        background: transparent;
    }

    .menubarBtn{
        display: none;
    }

    .navBar {
        top: 0;
        background-color: transparent;
        position: absolute;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2rem;
    }    
    
    .navBar li{
        width: 10%;
    }

    .navLink {
        color: #fff;
    }
    
    .navLink:hover{
        color: #5578aa;
        transform: translateY(-3px);
        transition: .3s;
    }   

    /* 圖片區塊 */    
    .banner-text {
        height: 50vh;
    }
    
    .banner-text .upper p{
        font-size: 110px;
        letter-spacing: 10px;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .banner-text .upper p::after {
        width: 86%;
    }

    .banner-text .down{
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0 7%;
    }
    
    .rolldownbtn i{
        font-size: 45px;
    }

    /* 關於我 */
    .about .text{
        margin: 0 70px;
    }    

    .about .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tag{
        text-align: right;
    }
    
    .tag .badge{
        transform: translateX(0);
    }
    
    .personality .tag .badge:hover{
        transform: translateX(20px);
    } 
    .study .tag .badge:hover{
        transform: translateX(-20px);
    }
    
    /* 工作經歷 */
    .timeline{
        display: flex;
    }
    
    .timeline li {
        width: 50%;
        padding: 20px;
    }
    
    
}